<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747163832116-u0us12bmamsqjvn3s435dclo13t3leog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747163832116-u0us12bmamsqjvn3s435dclo13t3leog</string>
	<key>API_KEY</key>
	<string>AIzaSyCDW4-riWXVnrh3Dtbpz9ZdDPPgmHkHsk0</string>
	<key>GCM_SENDER_ID</key>
	<string>747163832116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajivar.AjiTest</string>
	<key>PROJECT_ID</key>
	<string>ajivar-4f65d</string>
	<key>STORAGE_BUCKET</key>
	<string>ajivar-4f65d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747163832116:ios:fbad3c6ff313ed44</string>
	<key>DATABASE_URL</key>
	<string>https://ajivar-4f65d.firebaseio.com</string>
</dict>
</plist>